rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      match /users/{uid} {
        allow write: if  request.auth.token.role == "ADMIN"|| request.auth.uid==uid;
        allow read: if true;
      }
      
      match /menus/{menuId} {
        allow write: if request.resource.data.restaurantId == request.auth.uid;
         allow delete: if resource.data.restaurantId == request.auth.uid;
        allow read: if true;
      }
      
      match /categories/{categoryId} {
        allow write: if request.resource.data.restaurantId == request.auth.uid;
        allow update: if request.resource.data.restaurantId == request.auth.uid;
        allow delete: if resource.data.restaurantId == request.auth.uid;
        allow read: if true;
      }
    }
  }
}